{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry" }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    ["@babel/plugin-transform-classes", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    ["@babel/plugin-transform-react-jsx"],
    ["@babel/plugin-transform-proto-to-assign"]
  ]
}
